<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragment/common-header"/>
  <th:block th:replace="fragment/common-header-admin"/>
  <title>Cockstalgia - Login</title>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">관리자 로그인</h1>
                  </div>
                  <form class="user">
                    <hr>
                    <a href="javascript:alert('준비중입니다.');" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> 구글 로그인
                    </a>
                    <a href="/oauth2/kakao" class="btn btn-warning btn-user btn-block" style="color: brown">
                      <i class="fas fa-comment fa-fw"></i> 카카오 로그인
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <th:block th:replace="fragment/common-script"/>

</body>

</html>
