<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/jquery/jquery.validate.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/common.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<!--<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>-->

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<!--<script th:src="@{/js/demo/datatables-demo.js}"></script>-->

<script type="text/javascript">
    $(document).ready(function () {
        // ######################### 함수 표현 시작 ############################

        // ######################### 함수 표현 끝 ############################

        // ######################### 초기 실행 시작 ############################
        $("li.nav-item > a[href='" + location.pathname + "']").parent().addClass("active")
        // ######################### 초기 실행 끝 ############################

        // ######################### 이벤트 핸들러 등록 시작 ############################

        // ######################### 이벤트 핸들러 등록 끝 ############################
    });
</script>
