<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

  <th:block th:replace="fragment/common-header"/>
  <th:block th:replace="fragment/common-header-admin"/>
  <title>Cockstalgia - Register</title>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">이것만 하면 끝나요!</h1>
              </div>
              <form class="user">
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="text" placeholder="본명을 입력해 주세요." />
                  <br>
                  <input type="text" class="form-control form-control-user" id="date" placeholder="생일을 입력해 주세요." />
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <th:block th:replace="fragment/common-script"/>

</body>

</html>
